<!-- template for displaying the special task only with remove botton -->


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <nav>
        <!-- Update the navigation to include signup, login and logout links -->
        
        <div class="nav-actions">
        
            <form action='/user/logout' method='POST'>
                <button>Logout</button>
            </form>
        </div>
    </nav>
    
    
    <section>
    {{if .Flash}}
        <div class="flash-message">
        <p>Message : {{.Flash}}</p>
        </div>
    {{end}}
    </section>
<ol>
    <p>All Tasks</p>
        {{range .Tasks}}
            <li>
                <div>
                    <p >{{.Name}}</p>
                </div>
                <!-- using post method create another address for removing from special data -->
                
                <form method="POST" action="/user/deletetask">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <input type="submit" name="del" value="Remove"/>
                </form>
                      
            </li>
        {{end}}
</ol>
</body>
</html>